Nucleo.Web/WebContent/wsdl/Endereco_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bo.endereco.nucleo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bo.endereco.nucleo.com" xmlns:intf="http://bo.endereco.nucleo.com" xmlns:tns1="http://to.endereco.nucleo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bo.endereco.nucleo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://to.endereco.nucleo.com"/>
   <element name="getCidadesPorUF">
    <complexType>
     <sequence>
      <element name="uf" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCidadesPorUFResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCidadesPorUFReturn" type="tns1:CidadeTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_EnderecoTO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:EnderecoTO"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_BairroTO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:BairroTO"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://to.endereco.nucleo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.endereco.nucleo.com"/>
   <complexType name="EnderecoTO">
    <sequence>
     <element name="bairro" nillable="true" type="tns1:BairroTO"/>
     <element name="cep" nillable="true" type="xsd:string"/>
     <element name="cidade" nillable="true" type="tns1:CidadeTO"/>
     <element name="idBairro" type="xsd:int"/>
     <element name="idCidade" type="xsd:int"/>
     <element name="logradouro" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BairroTO">
    <sequence>
     <element name="cidade" nillable="true" type="tns1:CidadeTO"/>
     <element name="enderecos" nillable="true" type="impl:ArrayOf_tns1_EnderecoTO"/>
     <element name="id" type="xsd:int"/>
     <element name="idCidade" type="xsd:int"/>
     <element name="nome" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CidadeTO">
    <sequence>
     <element name="bairros" nillable="true" type="impl:ArrayOf_tns1_BairroTO"/>
     <element name="id" type="xsd:int"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="uf" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCidadesPorUFResponse">

      <wsdl:part element="impl:getCidadesPorUFResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCidadesPorUFRequest">

      <wsdl:part element="impl:getCidadesPorUF" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EnderecoBO">

      <wsdl:operation name="getCidadesPorUF">

         <wsdl:input message="impl:getCidadesPorUFRequest" name="getCidadesPorUFRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCidadesPorUFResponse" name="getCidadesPorUFResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EnderecoBOSoapBinding" type="impl:EnderecoBO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCidadesPorUF">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCidadesPorUFRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCidadesPorUFResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EnderecoBOService">

      <wsdl:port binding="impl:EnderecoBOSoapBinding" name="EnderecoBO">

         <wsdlsoap:address location="http://www.nucleoengenharia.com.br:8082/Nucleo.Endereco.ws/services/EnderecoBO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
